<p>
  <strong>Name:</strong>
  <%= @community.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @community.description %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @community.logo_url %>
</p>

<p>
  <strong>Community type:</strong>
  <%= @community.community_type %>
</p>

<%= link_to 'Edit', edit_community_path(@community) %> |
<%= link_to 'Back', communities_path %>

<h1>New Post</h1>

<%= render 'posts/form', community: @community, post: @post %>

<%= link_to 'Back', community_path(@community) %>

